  body {
  font-family: 'Itim', cursive;
  }

/* Note Page */
 .page-note {
    width: 90%;
    max-width: 400px;
    background-color: #FFE2E2;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* ปุ่ม Shortcut บน Note Page */
  .container-button-shortcut2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .button-shortcut2 {
    background-color: #D1E9F6;
    border: none;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Container หลักของ Note */
  .container-note {
    width: 100%;
    background-color: #FFFDEC;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    position: relative;
  }
  
  /* ไอคอนลูกศรลง */
  .arrow2 {
    display: flex;
    margin: 0 auto 10px;
    width: 20px;
  }

  /* วันที่ใน Note */
 .date-container {
    display: flex;
    justify-content: center; /* จัดให้อยู่ตรงกลางแกน X */
    align-items: center;
    width: 100%;
    margin-bottom: 0px;
  }
  
 .date-selected-2 {
    background-color: #d3c5b4;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }
  
  /* Note Area */
  .note-area {
    background: #fff8e7;
    padding: 10px;
    border-radius: 10px;
    min-height: 120px;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    border: 1px solid #ddd;
  }
  
  /* ส่วนของ Emotion */
  .container-emotion {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10px;
  }
  
  .text-emotion-ask {
    font-weight: bold;
    color: #555;
    margin: 0;
    background-color: #D1E9F6;
  }
  
  /* ปุ่มอารมณ์ */
  .container-emotion ul {
    background-color: #D1E9F6;
    display: flex;
    gap: 10px;
    padding: 0;
    list-style: none;
  }
  
  .container-emotion ul li {
    display: inline-block;
  }
  
  .container-emotion ul li button {
    background: #D1E9F6;
    border: none;
    cursor: pointer;
  }

 .container-button-emotion{
    margin: 0;
 }